.tour__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.tour__container > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.tour__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.tour__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.tour__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem ;
}

.tour__details {
    display: flex;
    gap: 1rem;
}

.tour__details-icon {
    margin-top: 6px;
    color: var(--color-primary);
}

/*======================== media queries (medium devices) =======tablets*/
@media screen and (max-width: 1024px) {
    .tour__container {
        grid-template-columns: 1fr;
    }

    .tour__container > div  {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .tour__content {
        padding: 1rem;
    }
}

/*======================== media queries (small devices) =======tablets*/
@media screen and (max-width: 600px) {
    .tour__container {
        gap: 1rem;
    }

    .tour__container > div {
        width: 100%;
        padding: 2rem 1rem;
    }
}
